In [1]:
from glob import glob

import pandas as pd
from datasets import Dataset

In [2]:
data_list = glob('data/국민건강보험공단_의약품처방정보_20211231/*.csv')
data_list

['data/국민건강보험공단_의약품처방정보_20211231/국민건강보험공단_의약품처방정보_02_20211231.csv',
 'data/국민건강보험공단_의약품처방정보_20211231/국민건강보험공단_의약품처방정보_03_20211231.csv',
 'data/국민건강보험공단_의약품처방정보_20211231/국민건강보험공단_의약품처방정보_01_20211231.csv']

In [3]:
dfs = [pd.read_csv(data) for data in data_list]
dfs = pd.concat(dfs)
dfs

,STND_Y,IDV_ID,KEY_SEQ,SEQ_NO,SEX,AGE_GROUP,SIDO,RECU_FR_DT,GNL_NM_CD,DD_MQTY_FREQ,DD_EXEC_FREQ,MDCN_EXEC_FREQ,UN_COST,AMT,DATA_STD_DT
0,2021,497808,4026671,1,2,13,41,2021-03-15,454003ATB,1.0,1,30,346.0,10380,2022-08-11
1,2021,717375,4029302,1,2,13,41,2021-12-28,442330ATB,1.0,1,3,14961.0,44883,2022-08-11
2,2021,182692,4029586,1,2,13,41,2021-04-05,111501ATB,1.0,1,40,612.0,24480,2022-08-11
3,2021,232940,4030115,1,2,13,41,2021-09-15,241803ATB,1.0,1,3,406.0,1218,2022-08-11
4,2021,700503,4033436,1,2,13,41,2021-03-24,111501ATB,1.0,1,90,647.0,58230,2022-08-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10499995,2021,441089,3986910,2,1,7,11,2021-12-16,197802ATB,2.0,2,57,1258.0,286824,2022-08-11
10499996,2021,970090,3993577,6,1,14,27,2021-12-16,636101ATB,0.5,1,45,705.0,15863,2022-08-11
10499997,2021,782017,3999091,4,1,13,41,2021-03-25,250503ATR,3.0,1,75,320.0,72000,2022-08-11
10499998,2021,55885,4008905,2,1,12,41,2021-06-04,172001ACH,2.0,1,65,278.0,36140,2022-08-11
10499999,2021,946521,4010769,2,1,16,30,2021-07-22,522000ATB,0.5,1,185,670.0,61975,2022-08-11

| 연번 | 제공항목 | 표준항목명 | 영문명 | 설명 |
| --- | --- | --- | --- | --- |
| 1 | 기준년도 | STND_Y |  | 해당 정보의 기준년도를 제공함 |
| 2 | 가입자 일련번호 | IDV_ID |  | 해당가입자에 부여한 일련번호 (1 ~ 1,000,000) |
| 3 | 진료내역 일련번호 | KEY_SEQ |  | 해당진료내역에 대한 일련번호 |
| 4 | 일련번호 | SEQ_NO |  | 해당 약품 일련번호 |
| 5 | 성별코드 | SEX |  | 해당 정보 대상자의 성별을 제공함 (성별: 1(남자), 2(여자)) |

| 연번 | 제공항목 | 표준항목명 | 영문명 | 설명 | 그룹 | 연령대 | 그룹 | 연령대 |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| 5 | 연령대 코드 | AGE_GROUP |  | 기준년도에 수진자의 나이를 5세 단위로 그룹화하여 구분한 코드 (총 18개 그룹) | 1 | 0~4세 | 10 | 45~49세 |
|  |  |  |  | 0~84세까지 5세 단위 그룹화, 85세 이상은 85+로 그룹화 | 2 | 5~9세 | 11 | 50~54세 |
|  |  |  |  |  | 3 | 10~14세 | 12 | 55~59세 |
|  |  |  |  |  | 4 | 15~19세 | 13 | 60~64세 |
|  |  |  |  |  | 5 | 20~24세 | 14 | 65~69세 |
|  |  |  |  |  | 6 | 25~29세 | 15 | 70~74세 |
|  |  |  |  |  | 7 | 30~34세 | 16 | 75~79세 |
|  |  |  |  |  | 8 | 35~39세 | 17 | 80~84세 |
|  |  |  |  |  | 9 | 40~44세 | 18 | 85세+ |

| 연번 | 제공항목 | 표준항목명 | 영문명 | 설명 | 코드명 | 시도명 | 코드명 | 시도명 |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| 6 | 시도코드 | SIDO |  | 해당 수진자 거주지의 시도코드 (2012년부터 세종특별자치시가 신규로 편입됨에 따라, 2011년까지의 데이터에는 해당 항목이 존재하지 않음) | 11 | 서울특별시 | 42 | 강원도 |
|  |  |  |  |  | 26 | 부산광역시 | 43 | 충청북도 |
|  |  |  |  |  | 27 | 대구광역시 | 44 | 충청남도 |
|  |  |  |  |  | 28 | 인천광역시 | 45 | 전라북도 |
|  |  |  |  |  | 29 | 광주광역시 | 46 | 전라남도 |
|  |  |  |  |  | 30 | 대전광역시 | 47 | 경상북도 |
|  |  |  |  |  | 31 | 울산광역시 | 48 | 경상남도 |
|  |  |  |  |  | 36 | 세종특별자치시 | 49 | 제주특별자치도 |
|  |  |  |  |  | 41 | 경기도 |  |  |

| 연번 | 제공항목 | 표준항목명 | 영문명 | 설명 | 구분 | 의과_보건기관 |
| --- | --- | --- | --- | --- | --- | --- |
| 8 | 서식코드 | FORM_CD |  | 명세서 서식구분을 위한 코드; 의과_보건기관에서 진료한 환자의 진료형태를 구분함 | 02 | 의과 입원 |

| 연번 | 제공항목 | 표준항목명 | 영문명 | 설명 | 구분 | 의과_보건기관 |
| --- | --- | --- | --- | --- | --- | --- |
| 9 | 진료과목 코드 | DSBJT_CD |  | 의과 26종의 진료과목코드에 따라 병원급 이상의 진료기관일 경우 실제진료를 받은 진료과목, 의원급 의료기관일 경우 상병 명에 해당되는 진료과목 | 0 | 일반의 |

| 연번 | 제공항목 | 표준항목명 | 영문명 | 설명 |
| --- | --- | --- | --- | --- |
| 10 | 주상병 코드 | MAIN_SICK |  | 명세서 상의 주상병의 분류기호 - 통계청 고시에 따른「한국표준 질병·사인 분류 4, 5, 6차 상병 분류 기호 참조 |
| 11 | 부상병 코드 | SUB_SICK |  | 명세서 상의 주된 상병분류기호 외의 추가 상병(부상병)의 분류 기호 - 결측(ZZ), 정상 또는 해당사항 없음(-)으로 표시 - 통계청 고시에 따른「한국표준 질병·사인 분류 4, 5, 6차 상병 분류 기호 참조 |
| 12 | 요양일수 | VSCN |  | 수진자가 요양급여를 받은 실 일수 - 입원 또는 내원일수에 원내 투약일수를 산입하여 기재 - 내원일수는 초진과 재진을 포함함 |
| 13 | 입내원 일수 | RECN |  | (입원진료) 수진자가 진료를 받기 위해 요양기관에 입원한 날부터 퇴원 일까지의 실 일수 - (내원진료) 수진자가 내원하여 진료를 받은 실 일 수 |

| 연번 | 제공항목 | 표준항목명 | 영문명 | 설명 | 요양기관 종류 | 건강보험 | 의료급여 |
| --- | --- | --- | --- | --- | --- | --- | --- |
| 14 | 심결가산율 | EDEC_ADD_RT |  | 요양개시일자 기준으로 종별 규모에 따라 시설, 인력, 장비 등의 투자비용 등을 고려하여 요양기관 종별에 따라 가산 적용되는 진료비의 가산율(%) | 상급 종합병원 | 30% | 22% |
|  |  |  |  |  | 종합병원 | 25% | 18% |
|  |  |  |  |  | 병원(요양병원 포함) | 20% | 15% |
|  |  |  |  |  | 의원, 보건의료원 등 | 15% | 11% |

| 연번 | 제공항목 | 표준항목명 | 영문명 | 설명 |
| --- | --- | --- | --- | --- |
| 15 | 심결요양 급여비용 총액 | EDEC_TRAMT |  | 심결요양급여비용총액은 정산심사결과 수진자 본인이 부담해야 될 금액인「심결본인부담금」과 보험자가 부담해야 할 「심결 보험자부담금」합친 금액 |
| 16 | 심결본인 부담금 | EDEC_SBRDN_AMT |  | 요양급여비용심사결과를 통해 결정된 수진자 본인이 부담해야 할 부담금 - 국민건강보험법 시행령 [별표2]에 따른 본인일부부담금(동법 시행령 별표2 제4호 및 제5호에 따른 금액을 제외)에서 10원 미만 절사한 금액 |
| 17 | 심결 보험자 부담금 | EDEC_JBRDN_AMT |  | 심결요양급여비용총액에서 본인일부부담금을 제외한 금액으로 보험자가 부담하여야 하는 금액 |
| 18 | 총처방 일수 | TOT_PRES_DD_CNT |  | 처방전을 발급한 경우에 해당 처방전에 따라 조제 투약하도록 처방한 일수의 합 |
| 19 | 데이터 기준일자 | DATA_STD_DT |  | 데이터 작성 기준 일자 |

| 연번 | 제공항목 | 표준항목명 | 영문명 | 설명 |
| --- | --- | --- | --- | --- |
|  | 단가 | UN_COST |  | 처방 내역상의 의약품 단가

제품코드 약품명 제약사명 규격단위 상한금액 실구입가 단가
641100180
A연질
캅셀
A제약 1캅셀 245 247 245 |
|  | 금액 | AMT |  | 단가, 1회 투약량, 1일 투약량, 총투여일수를 곱한 금액
­ 예시) 652101370 트렌탈 400 서방정 1회 1정, 1일 2회,
2일 투여시 ⥤ 190(원)×1(정)×2(회)×2(일)= 760원
※ 단, 규격에 따라서 금액이 상이하게 나올수 있으니 매
월 고시되는 보건복지부 고시「약제급여목록 및 급여
상한금액표」참고하여야 함 |

In [4]:
dfs.columns

Index(['STND_Y', 'IDV_ID', 'KEY_SEQ', 'SEQ_NO', 'SEX', 'AGE_GROUP', 'SIDO',
       'RECU_FR_DT', 'GNL_NM_CD', 'DD_MQTY_FREQ', 'DD_EXEC_FREQ',
       'MDCN_EXEC_FREQ', 'UN_COST', 'AMT', 'DATA_STD_DT'],
      dtype='object')

In [5]:
dfs_columns = {
    'STND_Y': '기준년도',
    'IDV_ID': '가입자 일련번호',
    'KEY_SEQ': '진료내역 일련번호진료내역 일련번호',
    'SEQ_NO': '일련번호',
    'SEX': '성별코드',
    'AGE_GROUP': '연령대 코드',
    'SIDO': '시도코드',
    'RECU_FR_DT': '요양개시일자',
    'GNL_NM_CD': '1회투약량',
    'DD_MQTY_FREQ': 'DD_MQTY_FREQ',
    'DD_EXEC_FREQ': '1일투약량',
    'MDCN_EXEC_FREQ': '총투여일수또는실시횟수',
    'UN_COST': '단가',
    'AMT': '금액',
    'DATA_STD_DT': '데이터 기준일자'
}

In [6]:
ds = Dataset.from_pandas(dfs)
ds

Dataset({
    features: ['STND_Y', 'IDV_ID', 'KEY_SEQ', 'SEQ_NO', 'SEX', 'AGE_GROUP', 'SIDO', 'RECU_FR_DT', 'GNL_NM_CD', 'DD_MQTY_FREQ', 'DD_EXEC_FREQ', 'MDCN_EXEC_FREQ', 'UN_COST', 'AMT', 'DATA_STD_DT', '__index_level_0__'],
    num_rows: 32053871
})

In [9]:
ds.push_to_hub("brainer/korean-medicine-prescription", private=True)

Uploading the dataset shards:   0%|          | 0/10 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/3206 [00:00<?, ?ba/s]

Creating parquet from Arrow format:   0%|          | 0/3206 [00:00<?, ?ba/s]

Creating parquet from Arrow format:   0%|          | 0/3206 [00:00<?, ?ba/s]

Creating parquet from Arrow format:   0%|          | 0/3206 [00:00<?, ?ba/s]

Creating parquet from Arrow format:   0%|          | 0/3206 [00:00<?, ?ba/s]

Creating parquet from Arrow format:   0%|          | 0/3206 [00:00<?, ?ba/s]

Creating parquet from Arrow format:   0%|          | 0/3206 [00:00<?, ?ba/s]

Creating parquet from Arrow format:   0%|          | 0/3206 [00:00<?, ?ba/s]

Creating parquet from Arrow format:   0%|          | 0/3206 [00:00<?, ?ba/s]

Creating parquet from Arrow format:   0%|          | 0/3206 [00:00<?, ?ba/s]

README.md:   0%|          | 0.00/1.60k [00:00<?, ?B/s]

CommitInfo(commit_url='https://huggingface.co/datasets/brainer/korean-medicine-prescription/commit/ec44ddf38e16e4d2424268d5c1357f4c0e506fa8', commit_message='Upload dataset', commit_description='', oid='ec44ddf38e16e4d2424268d5c1357f4c0e506fa8', pr_url=None, pr_revision=None, pr_num=None)